html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Roboto',  sans-serif;
  overflow-x: hidden;
  background: #fff;
}

body.settingsvisible {
  background: #f3f3f3;
}

noscript {
  display: block;
  padding: 0 20%;
  height: 100%;
}

noscript h1 {
  text-align: center;
  position: absolute;
  display: block;
  line-height: 50px;
  margin: 0;
  top: 50%;
  margin-top: -25px;
}

.credit {
  display: block;
  padding: 10%;
  text-align: center;
  color: #333;
  background: #fff;
  font-size: 1.6rem;
  line-height: 1.4;
  background: #f3f3f3;
  border-top: 1px solid hsla(0, 0%, 0%, 0.06);
}

.credit a {
  color: hsl(200, 100%, 25%);
}

.addbutton {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  line-height: 44px;
  cursor: pointer;
  line-height: 4.4rem;
  height: 4.4rem;
  overflow: hidden;
  font-size: 1.6rem;
  color: #fff;
  color: hsl(160, 100%, 30%);
  background: #fff;
  border-top: 1px solid hsla(0, 0%, 0%, 0.06);
  padding-left: 3vw;
  padding-right: 3vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.searchbox {
  display: table;
  width: 100%;
}

#filter {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  display: table-cell;
  width: 90%;
  border: none;
  height: auto;
  font-size: 1.8rem;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
  border-radius: 0;
  outline: 0;
  padding-left: 3vw;
  margin-left: 1.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  z-index: 2;
}

#filter::-webkit-input-placeholder {
  color: hsl(0, 0%, 60%);
}

#filter:focus::-webkit-input-placeholder {
  color: transparent;
}

#clearbutton {
  display: table-cell;
  font-size: 2.8rem;
  line-height: 2.5rem;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  width: 20%;
  color: hsl(0, 0%, 60%);
  z-index: 3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#clearbutton.is-active {
  color: hsl(160, 100%, 30%);
}

.savebutton {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 1.8rem;
  z-index: 4;
  line-height: 60px;
  background: hsl(268, 77%, 45%);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.06);
  color: #fff;
}

.addbutton span {
  float: right;
  padding-left: 1rem;
  color: hsl(0, 0%, 60%);
  min-width: 7.5rem;
  text-align: right;
}

.addbutton.is-active span {
  color: #fff;
}

.addbutton.is-active {
  background: hsl(160, 100%, 30%);
  color: #fff;
}

.addbutton.is-active:before {
  content: '− ';
  float: left;
  width: 1.8rem;
}

.addbutton:before {
  content: '+ ';
  float: left;
  width: 1.8rem;
}

.cities {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.city {
  display: table-cell;
  padding-top: 4.4rem;
}

.headings {
  display: table;
  table-layout: fixed;
  width: 100%;
  position: fixed;
  top: 0;
}

.heading {
  display: table-cell;
  line-height: 4.4rem;
  height: 4.4rem;
  overflow: hidden;
  font-size: 1.6rem;
  background: hsl(268, 77%, 45%);
  color: hsl(0, 0%, 100%);
  z-index: 1;
  font-weight: normal;
  padding-left: 3vw;
  padding-right: 3vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hour {
  padding: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  height: 2.8rem;
  line-height: 2.8rem;
  overflow: hidden;
  font-size: 1.2rem;
  border-top: 1px solid hsla(0, 0%, 0%, 0.06);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.outsidebusiness {
  color: hsla(0, 0%, 0%, 0.5);
}

.sleep {
  color: hsla(0, 0%, 0%, 0.2);
}

.evening {
  border-top: 1px solid hsla(18, 85%, 40%, 0.06);
  color: hsla(18, 85%, 40%, 1);
  background-color: hsla(18, 85%, 40%, 0.02);
}

.weekend {
  border-top: 1px solid hsla(268, 77%, 42%, 0.06);
  color: hsla(268, 77%, 42%, 1);
  background-color: hsla(268, 77%, 42%, 0.02);
}

.weekend.daystart {
  border-top: 1px solid hsla(268, 77%, 42%, 0.15);
}

.weekend.outsidebusiness {
  color: hsla(268, 77%, 42%, 1);
}

.weekend.sleep {
  color: hsla(268, 77%, 42%, 0.2);
}

.daystart {
  border-color: hsla(0, 0%, 0%, 0.15);
}

.hour.current {
  background: hsl(268, 77%, 38%);
  color: hsl(0, 0%, 100%);
  border: none;
}

.hour:nth-of-type(2) {
  border-color: transparent;
}

#settings {
  position: relative;
  padding-top: 63px;
  overflow-x: hidden;
  width: 100%;
  z-index: 3;
  background: #fff;
  min-height: 100%;
}

.is-hidden {
  display: none;
}

#settingsbutton {
  position: fixed;
  bottom: 3vw;
  right: 3vw;
  border-radius: 5px;
  text-align: center;
  background: hsl(160, 100%, 30%);
  color: #fff;
  z-index: 2;
  cursor: pointer;
  padding: 5px 10px;
  overflow: hidden;
  font-size: 20px;
}

@media only screen and (min-width: 760px) {
  html {
    font-size: 15px;
  }

  .heading,
  .addbutton {
    line-height: 5.5rem;
    height: 5.5rem;
  }

  .city {
    padding-top: 5.5rem;
  }

  .hour {
    height: 3.5rem;
    line-height: 3.5rem;
  }

  .savebutton {
    line-height: 165px;
    font-size: 2.5rem;
  }

  #settings {
    padding-top: 167px;
  }

  #clearbutton {
    top: 167px;
  }
}
